@model IEnumerable<DeliFood.Models.Product>

@foreach (var item in Model)
{
<div class="col-xl-3 col-lg-4 col-sm-6 pt-6">
    <div class="product-item">
        <div class="product-img img-zoom-effect">
            <a asp-action="details" asp-controller="Product" asp-route-id="@item.ProductId">
                <img class="img-full" src="~/images/product/@item.Image" width="270" height="300" alt="Product Images">
            </a>
            <div class="product-add-action">
                <ul>
                    <li>
                        <a class="addtoCart" data-value="@item.ProductId">
                            <i class="pe-7s-cart"></i>
                        </a>
                    </li>
                    <li>
                        <a asp-action="details" asp-controller="Product" asp-route-id="@item.ProductId">
                            <i class="pe-7s-info"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="product-content">
            <a class="product-name" asp-action="details" asp-controller="Product" asp-route-id="@item.ProductId">@item.ProductName</a>
            <div class="price-box pb-1">
                <span class="new-price">@item.Price.ToString("#,##0") VNĐ</span>
            </div>
            <div class="rating-box">
                <ul>
                    <li><i class="pe-7s-star"></i></li>
                    <li><i class="pe-7s-star"></i></li>
                    <li><i class="pe-7s-star"></i></li>
                    <li><i class="pe-7s-star"></i></li>
                    <li><i class="pe-7s-star"></i></li>
                </ul>
            </div>
        </div>
    </div>
</div>
}