@using PagedList.Core.Mvc
@using Newtonsoft.Json
@model PagedList.Core.IPagedList<DeliFood.Models.Order>

@{ ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    }

<!-- Page Container START -->
<!-- Content Wrapper START -->

<div class="page-header">
    <h2 class="header-title">ORDER</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">List order</span>
        </nav>
    </div>

</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-3">
                <label>ID Bill</label>
                @if(ViewBag.idFilter != null)
                {
                    <input type="number" id="txtIDBill"  class="priceFilter form-control" value="@ViewBag.idFilter" placeholder="number" />
                }
                else
                {
                    <input type="number" id="txtIDBill"  class="priceFilter form-control" placeholder="number" />
                }
            </div>
            <div class="col-lg-3">
                <label>From <small id="fromText">(VNĐ)</small></label>
                @if(ViewBag.fromFilter != null)
                {
                    <input type="number" id="txtFrom" class="priceFilter form-control" value="@ViewBag.fromFilter" placeholder="VNĐ" />
                }
                else
                {
                    <input type="number" id="txtFrom" class="priceFilter form-control" placeholder="VNĐ"/>
                }
            </div>
            <div class="col-lg-3">
                <label>To <small id="toText">(VNĐ)</small></label>
                @if(ViewBag.toFilter != null)
                {
                   <input type="number" id="txtTo" class="priceFilter form-control" value="@ViewBag.toFilter" placeholder="VNĐ" />
                }
                else
                {
                    <input type="number" id="txtTo" class="priceFilter form-control" placeholder="VNĐ" />
                }
            </div>
            <div class="col-lg-3 text-right mt-4 text-white">
                <a id="FilterButtonBill" class="btn btn-secondary btn-tone-2">Find</a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Customer</th>
                        <th>Order date</th>
                        <th>Total price</th>
                        <th>Note</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
        @foreach (var item in Model)
        {
<tr>
    <td>
        #@item.OrderId
    </td>
    <td>
        @item.Customer.FullName
    </td>
    <td>
        @item.OrderDate.ToString(string.Format("dd/MM/yyyy hh:mm tt"))
    </td>
    <td>
        @String.Format(format, "{0:c0}", item.TotalPrice)
    </td>

        @if(item.Note != null)
        {
            <td>@item.Note</td>
        }
        else
        {
            <td>Empty</td>
        }
    <td>
        @if (item.Status)
        {
        <div class="d-flex align-items-center">
            <div class="badge badge-success badge-dot m-r-10">    </div>
            <div>Processed</div>
        </div>
        }
        else
        {
        <div class="d-flex align-items-center">
            <div class="badge badge-danger badge-dot m-r-10"></div>
            <div>Pending</div>
        </div>
        }
    </td>
    <td>
        
        <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="OrderDetails" asp-action="Index" asp-route-id="@item.OrderId">Details</a>
        <a class="btn btn-secondary btn-tone m-r-5" asp-area="Admin" asp-controller="Order" asp-action="Edit" asp-route-id="@item.OrderId">Edit</a>
        <a class="btn btn-danger btn-tone m-r-5" asp-area="Admin" asp-controller="Order" asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
    </td>

</tr>}}

                </tbody>
            </table>


        </div>
    </div>
</div>

<div aria-label="Page navigatio">
    <ul class="pagination">
        <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="Order" asp-action="Index" />
    </ul>
</div>
<!-- Content Wrapper END -->
@section Scripts{
    <script>
            let NameFilter;
            let StatusFilter;
            let CatFilter;
        $('.priceFilter').keyup(function (e) {
            let input;
            input = $(this).val();
            console.log(input)
            if (input == "") {
                $(this).val(input);
            }
            else
            {
                if (input > 100000000) {
                    $(this).val(100000000);
                }
            }

            })

            NameFilter = $('#InputNameFilter').data("value");
            StatusFilter = $('#InputStatusFilter').data("value");
            CatFilter = $('#InputCatFilter').data('value');
            if (NameFilter != null) {
                $('#txtProductName').val(NameFilter);
            };
            if (StatusFilter != null) {
                $('#sbStatus option').removeAttr('selected');
                $("#sbStatus option[value=" + "'" + StatusFilter + "'" + "]").attr('selected', true);
            };
            if (CatFilter != null) {
                $('#sbCategory option').removeAttr('selected');
                $("#sbCategory option[value=" + "'" + CatFilter + "'" + "]").attr('selected', true);
            };


            // filter

        $('#FilterButtonBill').click(function () {
            var idBillFilter = $('#txtIDBill').val();
            var fromPriceFilter = $('#txtFrom').val();
            var toPriceFilter = $('#txtTo').val();

            $.ajax({
                url: "/Admin/Order/Filter",
                datatype: "json",
                type: "POST",
                data: {
                    idbill: idBillFilter,
                    from: fromPriceFilter,
                    to: toPriceFilter
                },

                async: true,
                success: function (result) {
                    if (result.status) {
                        window.location.href = result.redirect;
                    }
                }
            })
        })

        </script>
} 